.filler{
  height:vh
}

.customerInputs {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 8rem;

}


.customerInputsWrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 8rem;
  

}