.body{
  background-image: url('./UpdatedPersonal2.png');
  background-size: 64rem;
  background-repeat: no-repeat;
  margin-top: 0px 
}


.customerPropInfo {
  color: whitesmoke;
  font-size: 1.5rem;
  padding-top: 34rem;
  margin-left: 4rem
}


.repInfo{
  color: whitesmoke;
  font-size: 1.5rem;
  margin-left: 4rem;
  margin-top: 4.5rem
}


.offsetChart {
  margin-top: 5.5rem; 
  width: 450px;
  margin-left: 7rem
}

.barChart { 
  width: 435px;
  margin-top: 64.8rem;
  margin-left: 2.5rem
}

.currentBill {
  margin-top: 4.8rem;
  margin-left: 15.6rem;
  display: flex;
  flex-direction: column;
  height: 6.3rem;
  justify-content: space-around
}

.currentAnnualBill{
  margin-top: .4rem;
  margin-left: 16rem
}

.systemSize {
  margin-top: 7rem;
  margin-left: 4rem
}

.equipment{
  display: flex;
  flex-direction: row;
  margin-left: 32.4rem;
  margin-top: -1rem;
  justify-content: space-around;
  width: 32%
  
}

.moduleButtons {
  margin-left: 32.4rem;
  margin-top: .7rem;
  background-color: white;
  color: black
}

.moduleButtons button:hover {
  transform: translate( 0px, 0px)
}

.production {
  margin-left: 4rem
}

.utilityPower {
  margin-top: -9.7rem;
  margin-left:4rem
}

.offset {
  margin-top: 4rem;
  margin-left: 4rem
}


.productionChart{
  width: 430px;
  margin-left: 33.3rem;
  margin-top: -7.7rem;
  height: 258px;
}


.financialDetails{
  margin-left: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 45%;
  margin-top:-2rem;
  margin-bottom: .5rem
}
